 /* Carousel image sizes */
        #hobbyCarousel .carousel-item img {
            width: 100%; /* responsive width */
            height: 500px; /* keep the height fixed height */
            object-fit: cover; /* don't want the image to be distorted */
        }

/* Smooth Scroll */

html {
    scroll-behavior: smooth;
}

/* Body */

body {
    background-color: #334155;
    color: white;
}

/* Navbar */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 3%;
}

#navbarNav {
    font-family: 'Poppins';
    font-size: 25px;
}

.navbar-nav {
    display: flex;
    gap: 70px;
    margin-right: 10%;
}

/* Intro Section */

.intro-img {
    margin-left: 30%;
    padding: 0%;
}

/* Expertise Section */

.card-image {
    width: 70%;
    padding: 5% 10% 10% 10%;
}

#expertise {
    padding: 3%;
}

.expertise-title {
    margin-bottom: 4%;
}

.lists > li {
    list-style: none;
    margin-right: 17%;
}

/* Projects Section */

#projects {
    padding: 4%;
    margin-top: 15%;
    margin-bottom: 0;
}

.project-image {
    width: 80%;
    padding: 13% 10%;
    margin-left: 13%;
}

.projects-title {
    margin-bottom: 4%;
}

.project-row {
    margin-bottom: 4%;
}

/* Cards */

.card {
    color: black;
}

/* Contact Me Section */
.final-img {
    width: 31%;
    margin: 0 0 5% 35%;
    padding: 0%;
}

.connect {
    margin-bottom: 5%;
}

.email {
    color: white;
    margin-left: 43%;
    font-size: 18px;
    font-weight: bold;
}

.email:hover {
    background-color: #64748b;
    color: white;
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 6%;
    padding: 5%;
    font-size: 2rem;
}

.icon-link {
    color: white;
}

.icon-link:hover {
    color: white;
}
